#**파이썬 기초**

##데이터 타입과 변수

###수치형 변수

In [ ]:
a = 7
b = 3
c = a+b
print(c)

10

In [ ]:
print(a,'+',b,'=',a+b)
print(a,'-',b,'=',a-b)
print(a,'*',b,'=',a*b)
print(a,'/',b,'=',a/b)    # 나눗셈
print(a,'%',b,'=',a%b)    # 나머지
print(a,'//',b,'=',a//b)  # 몫
print(a,'**',b,'=',a**b)  # 거듭제공

7 + 3 = 10
7 - 3 = 4
7 * 3 = 21
7 / 3 = 2.3333333333333335
7 % 3 = 1
7 // 3 = 2
7 ** 3 = 343

### 문자열 변수

In [ ]:
a = 'love'
b = 'you'
print(a,len(a))
print(b,len(b))
print(a+b)

love 4
you 3
loveyou

In [ ]:
c = '0123456789'
print(c[1])
print(c[2:5])
print(c[3:])
print(c[:7])
print(c[:-2])

1
234
3456789
0123456
01234567

In [ ]:
d = 'abcdefghijk'
print(d.find('c'))
print(d.find('gh'))
print(d.find('l'))

2
6
-1

###리스트 변수

In [ ]:
a = [ 1,2.0,'three', 4 ]
print(a,len(a))

[1, 2.0, 'three', 4] 4

In [ ]:
print(a[0])

1

In [ ]:
print(a[1:3])

[2.0, 'three']

In [ ]:
print(a[:-1])

[1, 2.0, 'three']

In [ ]:
a.append('five')

In [ ]:
print(a)

[1, 2.0, 'three', 4, 'five']

In [ ]:
a.append([6,7])

In [ ]:
print(a)

[1, 2.0, 'three', 4, 'five', [6, 7]]

In [ ]:
print(a[5][1])

7

In [ ]:
a.index('three')

2

In [ ]:
a.pop(2)
print(a)

[1, 2.0, 4, 'five', [6, 7]]

### 딕셔너리 변수

In [ ]:
a = {'one':1, 'two':2, 3:'three', 'four':'quattro'}
print(a,len(a))

{'one': 1, 'two': 2, 3: 'three', 'four': 'quattro'} 4

In [ ]:
print(a['one'],a[3])

1 three

In [ ]:
print(a['one'],'+',a['two'],'=',a['one']+a['two'])

1 + 2 = 3

In [ ]:
del a['one']
print(a)

{'two': 2, 3: 'three', 'four': 'quattro'}

In [ ]:
a[5] = 'pentagon'

In [ ]:
print(a)

{'two': 2, 3: 'three', 'four': 'quattro', 5: 'pentagon'}

## 제어구문

###조건문

In [ ]:
a = 1
b = 2
if a+b > 3:
  print(a,'+',b,'>',3)
print('done')

done

In [ ]:
a = 1
b = 2
if a+b > 3:
  print(a,'+',b,'>',3)
else:
  print(a,'+',b,'<=',3)
print('done')

1 + 2 <= 3
done

In [ ]:
a =39
if a%2 == 0:
  print(a,'는 2의 배수')
elif a%3 == 0:
  print(a,'는 3의 배수')
elif a%5 == 0:
  print(a,'는 5의 배수')
elif a%7 == 0:
  print(a,'는 7의 배수')
else:
  print('잘 모르겠습니다.')

39 는 3의 배수

###반복문

In [ ]:
s = 0
for i in range(10):
  s = s+i
  print(i,s)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45

In [ ]:
s = 0
for i in [1,-1,2,3.5,-1]:
  s = s+i
  print(i,s)

1 1
-1 0
2 2
3.5 5.5
-1 4.5

In [ ]:
Scores = {
    'Kim': [95,68,77],
    'Jane': [89,75,92],
    'John': [81,99,97],
    'Tom': [77,85,78]
}
for k,v in Scores.items():
  print(k,v)

Kim [95, 68, 77]
Jane [89, 75, 92]
John [81, 99, 97]
Tom [77, 85, 78]

In [ ]:
s = 0
for k,v in Scores.items():
  s = s+v[0]
print(s/len(Scores))

85.5

##연습문제

1. 다음의 코드는 각 학생의 영어, 수학, 과학 성적을 표현하였다. Jane의 수학 성적과 John을 과학 성적의 합을 출력하는 코드를 작성하시오.

In [ ]:
Scores = {
    'Kim': [95,68,77],
    'Jane': [89,75,92],
    'John': [81,99,97],
    'Tom': [77,85,78]
}
# put your code here

# WHETHER_TEST = True
WHETHER_TEST = False

Jane_math = Scores['Jane'][1]
John_sci = Scores['John'][2]
if WHETHER_TEST:
  print(Scores['Kim'])
  print(Jane_math)
  print(John_sci)

print('Jane_math + John_sci = ', Jane_math + John_sci)

Jane_math + John_sci =  172

2. 다음의 코드는 각 학생의 영어, 수학, 과학 성적을 표현하였다. 각 학생의 수학점수를 A/B/C/F로 평가하고 출력하시오. 90이상은 A, 80점 이상은 B, 70점 이상은 C, 그 이하는 F로 평가하시오.

In [ ]:
Scores = {
    'Kim': [95,68,77],
    'Jane': [89,75,92],
    'John': [81,99,97],
    'Tom': [77,85,78]
}
# put your code here

def evaluate_grade(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  else:
    return 'F'

math_grade = dict.fromkeys(Scores)
for k in math_grade:
  # math_grade[k] = Scores[k][1]
  math_grade[k] = evaluate_grade(Scores[k][1])
print(math_grade)

# WHETHER_TEST = True
WHETHER_TEST = False

if WHETHER_TEST:
  print(math_grade)

{'Kim': 'F', 'Jane': 'C', 'John': 'A', 'Tom': 'B'}

3. 위의 문제에서 수학 성적의 학점 평균을 구하시오. A는 4.0, B는 3.0, C는 2.0, F는 0.0 으로 평가하시오.

In [ ]:
def convert_grade_to_gpa(grade):
  if grade == 'A':
    return 4.0
  elif grade == 'B':
    return 3.0
  elif grade == 'C':
    return 2.0
  elif grade == 'F':
    return 0.0

list_math_gpa = []

for k, v in math_grade.items():
  list_math_gpa.append(convert_grade_to_gpa(v))
# print(list_math_gpa)

math_gpa_avg = sum(list_math_gpa) / len(list_math_gpa)
print(math_gpa_avg)

2.25

4. 1000이하의 소수의 개수를 구하는 코드를 작성하시오.

In [ ]:
WHETHER_TEST = True
# WHETHER_TEST = False

# 3 % 2 == 1
list_prime_num = []
# for i in range(5, 2):
#   print(i)
for i in range(3, 1000 + 1):
  is_prime_num = 1
  for j in range(3, i):
    if i % j == 0:
      is_prime_num = 0
      break
  if is_prime_num:
    list_prime_num.append(i)
print(len(list_prime_num))

168